/*
* Custom Styles
*/
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";  
@import "@material/card/mdc-card";  

.txt-cntr {
    text-align: center;
}

.mb {
    margin-bottom: 20px;
}

.mdc-card {
    max-width: 400px;
}

.cardHeading {
    padding : 10px;
    font-size : 16px;
}